//
   Created by amcomaschi on 13/06/16.

extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Loc8r fue creado para ayudar a la gente a encontrar lugares en donde poder sentarse a
                | terminar su trabajo.
                | <br/> <br/>
